// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free";

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 12px;
}
